In [ ]:
# linear algebra
import numpy as np 

# data processing
import pandas as pd

In [ ]:
test_df = pd.read_csv("data/titanic_survival/test.csv")
train_df = pd.read_csv("data/titanic_survival/train.csv")

In [ ]:
# A high level summary of your data
train_df.info()

In [ ]:
# A high level summary of your data
train_df.describe()

In [ ]:
# this works everwhere, not just in Jupyter notebooks
train_df.head(10)

In [ ]:
##  how to delete a cerain row and collumn value
#what happens if you compare two series and one value is null?
dictionary1 = {"one":[1,2,3,4,5],"two":[1,2,4,6,7],"three":[2,4,6,8,10],"four":[3,6,9,12,15],"five":[5,10,15,20,25]}
df_from_dict = pd.DataFrame.from_dict(dictionary1)
print(df_from_dict)

df_from_dict["six"] = df_from_dict["one"] + df_from_dict["two"]
print(df_from_dict["six"])

In [ ]:
df_from_dict.iloc[0,1] = 2
print(df_from_dict)

In [ ]:
true_false_series = df_from_dict["one"] < df_from_dict["two"]
print(true_false_series)
#does it compare null? or ignore?
#ignores
#default iteration

In [ ]:
# making data frame from csv file
data = pd.read_csv("nba.csv", index_col ="Name" )
  
# dropping passed columns
#                what if you have a row thats indexed value Matches Colomn value? function is the same - it has a axis arument
data.drop(["Team", "Weight"], axis = 1, inplace = True)
  
# display
data

##  We will step through these calculations one line at a time.  Once we understand each line we will understand how to work together to accomplish the goal